/*
blue color: #3498db
dark blue color: #16405C
green color: #23BA76
orange color: #f39c12
*/

/*--------------------------------------

Reusable Classes

--------------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:monospace;
    font-size:20px;
    color:black;
}

html{
    height:100%;
    width:auto;
    background:#ededed;
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.2)), url(869.jpg);
    background-size:cover;
    background-position: center;
}

.login-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
    border: 2px solid #000;
    border-radius:20px;
    background:#fff;
    
    padding:30px 30px; 
    text-align: center;
    
}

/*--------------------------------------

Buttons

--------------------------------------*/

/*Submit Button*/
.login-button{
    display:block;
    color:#fff;
    margin:0px auto;
    padding:10px;
    
    font-size: 150%;
    background-color:#3498db; 
    border-color:#3498db;    
    
    outline:none;
    border:1px solid #3498db;
    border-radius:20px;
    
    width:auto;
    transition: color .25s, background .25s, border .25s,width .25s;

}
.login-button:hover{
    background-color:#16405C;
    color:#d8d8d8;

}


/*Generic Buttons*/
.button:link,
.button:visited{
    text-decoration:none;
    color:#d8d8d8;
    
    display:inline-block;
    padding:20px;  
    margin: 20px 25% 0 25%;
    
    transition:border .25s, background .25s;
    
    border:5px solid #16405C; 
    border-radius:50px;
    
    background-color:#16405C;
}
.button:hover,
.button:active{
    background-color:#3498db; 
    border-color:#3498db;
    color:#fff;
}

/*--------------------------------------

LogIn Credential Styles

--------------------------------------*/

.login-cred input{
    margin:5% 0px;
    outline:none;
    display:block;
    padding: 10px;
    
    border: 2px solid black;
    border-radius:20px;
    font-size:150%;
    
    transition: border .15s;

}

.login-cred input:focus,
.login-cred input:hover{
    border-color: #3498db;
}

.sign-up{
    position:absolute;
    border:2px solid black;
    border-radius:20px;
    background-color:#fff;
    margin:50px -30px;
    width:100%;
    padding:10px;
   
}
.sign-up a:link,
.sign-up a:visited{

    color:#3498db;
    font-size:110%;
    font-weight: bold;
    border-bottom:2px solid #fff;
    
    transition: border .25s;
}
.sign-up a:hover,
.sign-up a:active{
    border-color: #3498db;
}

/*--------------------------------------

WebSite Header

--------------------------------------*/
h1{
    margin:-55% -75%;
    position:absolute;
    display:inline-block;
    text-align: center;
    
    
    font-weight:lighter;
    font-size:350%;
    border-bottom: 5px solid #3498db;  
    font-family:Pacifico;
    color:#fff;
    
    padding-bottom:5px;
    width:150%;
    
}

a:link{
    text-decoration: none;  
    color:black;
}