/*
main colors

main: #EBD128
second left: #D1B13D

*/

@font-face {
font-family: "Ostrich Bold";
src: url("fonts/ostrich-sans-master/webfonts/ostrich-sans-bold.eot");
src:
url("fonts/ostrich-sans-master/webfonts/ostrich-sans-bold.woff") format("woff"),
url("fonts/ostrich-sans-master/OstrichSans-Bold.otf") format("opentype"),
url("fonts/ostrich-sans-master/webfonts/ostrich-sans-bold.svg#filename") format("svg");
    
}

@font-face {
	font-family: 'Ostrich Regular';
	src: url('ostrich-sans-regular.eot');
	src: local('☺'), url('ostrich-sans-regular.woff') format('woff'), url('ostrich-sans-regular.ttf') format('truetype'), url('ostrich-sans-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Ostrich Regular',monospace;
    font-size:20px;
    color:black;
    text-decoration: none;
    
    
}

html{
    background-image:url("../images/main_background.jpg");
    background-size: cover;
    background-position:center;
    font-family: 'Ostrich Bold',monospace;
    background
}






.navBar{
     
    list-style:none;
    text-align:right;
/*    background:#EBD128*/
         /*background-image:linear-gradient(to top,rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.50));*/

}

.navList{
    display:inline-block;
    margin:20px 0px;
    margin-right:10px;
    
    
}

.button{

    color:#EBD128;
    font-size:110%;
    padding:9px;
    border-bottom:3px solid #D1B13D;

    outline:none;
    transition:background-color .25s, border-radius .25s, border-color .25s, color .25s;
    
}
.button:hover{
    
    border-radius:5px;
    background-color: #D1B13D;
    border-color: #D1B13D;
    color:#fff
}

.shop{
    margin:20px;
    
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
    
    
}


/*------------------------------------------------------------------------- 
Header CSS
-------------------------------------------------------------------------*/ 


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

.headerText{

    margin-left:20px;
    vertical-align:middle;
    word-spacing:-20px;
    width:90%;
    font-size:200%;
    margin:40px

    
}

div.headerText{
    margin-top:100px
}


.headerReg{    
    font-family: 'Ostrich Regular',monospace; 
    font-weight:100;
    font-size:150%
}

.headerBold{
    font-family: 'Ostrich Bold',monospace;
    font-weight:bolder;
    font-size:360%
}

@media only screen and (max-device-width: 500px) {
    
    .headerBold{
        font-size:700%;
    }
    
    .headerReg{
        font-size:330%;
    }
    
	.headerText {
        
		width: 100%;

        text-align:center;
	}
    
    div.headerText{
        margin-top:40%;
    }
    
    .button{
        font-size: 230%;
        
    }
    .navBar{
        text-align: center;
    }
    
    html{
        height:109%;
    }
}






